.background {
  background-image: url("../imgs/original.gif");
  width: 100%;
  height: 100vh;
  background-size: cover;
  padding-left: 5vw;
  padding-top: 0;
  
}
p{
  font-family: 'Open Sans', sans-serif;
}



@media screen and (max-width: 400px) {
  .background {
    height: 126vh;
  }
}

/* 

@media screen and (min-width: 50px) and (max-width: 500px) {
  .background {
    height: 121vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .background {
    height: 175vh;
  }
}

@media screen and (min-width: 1024px) {
  .background {
    height: 100vh;
  }
} */
